  <div class="my-4">
        <div class="row">

            <div class="col-6 col-sm-3 my-4" >
                <div class=" card h-100">
                    <img  src="./images/image3.jpeg" class=" card-img-top anima shadow-lg rounded "
                    alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, autem magni? Ex amet neque
                    deserunt suscipit iusto. Dolore iusto cumque aliquam qui. Voluptatibus, voluptatem magni?
                </p>
                </div>

            </div>
            <div class="col-6 col-sm-3 my-4">
                <div class=" card h-100">
                    <img  src="./images/image4.jpeg" class=" card-img-top anima shadow-lg rounded "
                    alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, autem magni? Ex amet neque
                    deserunt suscipit iusto. Dolore iusto cumque aliquam qui. Voluptatibus, voluptatem magni?
                </p>
                </div>

            </div>
            <div class="col-6 col-sm-3 my-4">
                <div class=" card h-100">
                    <img  src="./images/image15.jpeg" class=" card-img-top anima shadow-lg rounded "
                    alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, autem magni? Ex amet neque
                    deserunt suscipit iusto. Dolore iusto cumque aliquam qui. Voluptatibus, voluptatem magni?
                </p>
                </div>

            </div>
            <div class="col-6 col-sm-3 my-4">
                <div class=" card h-100">
                    <img  src="./images/image16.jpeg" class=" card-img-top anima shadow-lg rounded "
                    alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, autem magni? Ex amet neque
                    deserunt suscipit iusto. Dolore iusto cumque aliquam qui. Voluptatibus, voluptatem magni?
                </p>
                </div>

            </div>

        </div>


    </div>