 
    <div class="container-fluid">
        <div class="row row-cols-2 row-cols-md-4">
            <div class="col mb-4">
                <div class="card h-100" >
                    <img src="./images/image5.jpeg" class="card-img-top anima" >
                    <div class="card-body" >
                        <p class="card-text">Test</p>
                        <div class="d-flex  justify-content-evenly "  >
                            <img src="https://img.icons8.com/sf-regular/48/000000/checked-2.png" class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;" />
                            <img src="https://img.icons8.com/color-glass/48/000000/online.png" class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;" />
                            <img src="https://img.icons8.com/color/48/000000/shopping-cart--v1.png" class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;" />
                            <img src="https://img.icons8.com/color/48/000000/click-and-collect.png" class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;" />
                            <img src="https://img.icons8.com/color/48/000000/cancel--v1.png" class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;" />
                                
                        </div>
                        <h6> <b>Price</b> <s><b>$4566</b></s> <small> $3999</small> </h6>
                        <h6>take our product</h6>
                        <div class="d-flex  justify-content-evenly ">
                            <img src="https://img.icons8.com/3d-fluency/100/000000/star.png"
                            class="anima2"
                            style="width: 25px;height: auto;object-fit: contain;"/>
                            <img src="https://img.icons8.com/3d-fluency/100/000000/star.png"
                                class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;"/>
                                <img src="https://img.icons8.com/3d-fluency/100/000000/star.png"
                                class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;"/>
                                <img src="https://img.icons8.com/3d-fluency/100/000000/star.png"
                                class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;"/>
                                <img src="https://img.icons8.com/3d-fluency/100/000000/star.png"
                                class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <img src="./images/image6.jpeg" class="card-img-top anima">
                    <div class="card-body">
                        <p class="card-text">Test</p>
                        <div class="d-flex  justify-content-evenly" >
                            <img src="https://img.icons8.com/sf-regular/48/000000/checked-2.png" class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;" />
                            <img src="https://img.icons8.com/color-glass/48/000000/online.png" class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;" />
                            <img src="https://img.icons8.com/color/48/000000/shopping-cart--v1.png" class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;" />
                            <img src="https://img.icons8.com/color/48/000000/click-and-collect.png" class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;" />
                            <img src="https://img.icons8.com/color/48/000000/cancel--v1.png" class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;" />
                                
                        </div>
                        <h6> <b>Price</b> <s><b>$4566</b></s> <small> $3999</small> </h6>
                        <h6>take our product</h6>
                        <div class="d-flex  justify-content-evenly ">
                            <img src="https://img.icons8.com/3d-fluency/100/000000/star.png"
                            class="anima2"
                            style="width: 25px;height: auto;object-fit: contain;"/>
                            <img src="https://img.icons8.com/3d-fluency/100/000000/star.png"
                                class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;"/>
                                <img src="https://img.icons8.com/3d-fluency/100/000000/star.png"
                                class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;"/>
                                <img src="https://img.icons8.com/3d-fluency/100/000000/star.png"
                                class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;"/>
                                <img src="https://img.icons8.com/3d-fluency/100/000000/star.png"
                                class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <img src="./images/image7.jpeg" class="card-img-top anima">
                    <div class="card-body">
                        <p class="card-text">Test</p>
                        <div class="d-flex  justify-content-evenly " >
                            <img src="https://img.icons8.com/sf-regular/48/000000/checked-2.png" class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;" />
                            <img src="https://img.icons8.com/color-glass/48/000000/online.png" class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;" />
                            <img src="https://img.icons8.com/color/48/000000/shopping-cart--v1.png" class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;" />
                            <img src="https://img.icons8.com/color/48/000000/click-and-collect.png" class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;" />
                            <img src="https://img.icons8.com/color/48/000000/cancel--v1.png" class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;" />
                                
                        </div>
                        <h6> <b>Price</b> <s><b>$4566</b></s> <small> $3999</small> </h6>
                        <h6>take our product</h6>
                        <div class="d-flex  justify-content-evenly ">
                            <img src="https://img.icons8.com/3d-fluency/100/000000/star.png"
                            class="anima2"
                            style="width: 25px;height: auto;object-fit: contain;"/>
                            <img src="https://img.icons8.com/3d-fluency/100/000000/star.png"
                                class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;"/>
                                <img src="https://img.icons8.com/3d-fluency/100/000000/star.png"
                                class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;"/>
                                <img src="https://img.icons8.com/3d-fluency/100/000000/star.png"
                                class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;"/>
                                <img src="https://img.icons8.com/3d-fluency/100/000000/star.png"
                                class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                
                <div class="card h-100">
                    <div class="animator"></div>
                    
                    <img src="./images/image7.jpeg" class="card-img-top anima">
                    
                    <div class="card-body">
                        <p class="card-text">Test</p>
                        <div class="d-flex  justify-content-evenly" >
                            <img src="https://img.icons8.com/sf-regular/48/000000/checked-2.png" class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;" />
                            <img src="https://img.icons8.com/color-glass/48/000000/online.png" class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;" />
                            <img src="https://img.icons8.com/color/48/000000/shopping-cart--v1.png" class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;" />
                            <img src="https://img.icons8.com/color/48/000000/click-and-collect.png" class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;" />
                            <img src="https://img.icons8.com/color/48/000000/cancel--v1.png" class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;" />
                                
                        </div>
                        <h6> <b>Price</b> <s><b>$4566</b></s> <small> $3999</small> </h6>
                        <h6>take our product</h6>
                        <div class="d-flex  justify-content-evenly ">
                            <img src="https://img.icons8.com/3d-fluency/100/000000/star.png"
                            class="anima2"
                            style="width: 25px;height: auto;object-fit: contain;"/>
                            <img src="https://img.icons8.com/3d-fluency/100/000000/star.png"
                                class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;"/>
                                <img src="https://img.icons8.com/3d-fluency/100/000000/star.png"
                                class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;"/>
                                <img src="https://img.icons8.com/3d-fluency/100/000000/star.png"
                                class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;"/>
                                <img src="https://img.icons8.com/3d-fluency/100/000000/star.png"
                                class="anima2"
                                style="width: 25px;height: auto;object-fit: contain;"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
