    <div class="container-fluid text-black" style="width:100vw; ">
        <div id="new-card" class=" d-flex justify-content-evenly my-4">
            <div class="card shadow-lg my-4 mx-auto " style="width: 18rem;">
                <img src="./images/image4.jpeg" class="card-img-top anima" alt="...">
                
                <hr>
                <div class="card-body  ">
                    <div class=" d-flex justify-content-center">
                        <h5 class="card-title ">Card title</h5>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p>Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                    <div class=" d-flex justify-content-center ">
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <!-- 2 -->
            <div class="card shadow-lg my-4 mx-auto" style="width: 18rem;">
                <img src="./images/image3.jpeg" class="card-img-top anima" alt="...">

                <hr>

                <div class="card-body">
                    <div class=" d-flex justify-content-center">
                        <h5 class="card-title ">Card title</h5>
                    </div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <div class=" d-flex justify-content-center ">
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="card shadow-lg my-4 mx-auto" style="width: 18rem;">
                <img src="./images/image3.jpeg" class="card-img-top anima" alt="...">
                <hr>
                <div class="card-body">
                    <div class=" d-flex justify-content-center">
                        <h5 class="card-title ">Card title</h5>
                    </div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <div class=" d-flex justify-content-center ">
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="card shadow-lg my-4 mx-auto" style="width: 18rem;">
                <img src="./images/image4.jpeg" class="card-img-top anima" alt="...">
                <hr>
                <div class="card-body">
                    <div class=" d-flex justify-content-center">
                        <h5 class="card-title ">Card title</h5>
                    </div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <div class=" d-flex justify-content-center ">
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

    </div>