
   





<div>
      <div class="navbar">
        <li>Home</li>
        <li>Contact</li>
        <li>PortFolio</li>
        <li>Searchbar</li>
        <div class="icon"><li>Cart </li><span id="circle">0</span></div>
    </div>

    <div class="slider-wrap">
        <div class="slider-main" id="slider-main">


            <div class="item">
                <img src="./images/image3.jpeg" class="item-image" alt="">
                <div class="details">
                    <label for="Discount" name="Discount">Discount <span>10</span> %</label>
                    <label for="itemName" name="itemName">Vinegar oil</label>
                    <label for="Price" name="Price">Price $ <span>1223</span> </label>
                    <input type="button" class="cart-btn" onclick="saveItem()" value="Add to Cart">
                </div>
            </div>
            <div class="item">
                <img src="./images/image13.jpeg" class="item-image" alt="">
                <div class="details">
                    <label for="Discount" name="Discount">Discount <span>15</span> %</label>
                    <label for="itemName" name="itemName">Coconut oil</label>
                    <label for="Price" name="Price">Price $ <span>1283</span> </label>
                    <input type="button" class="cart-btn" onclick="saveItem()" value="Add to Cart">
                </div>
            </div>
            <div class="item">
                <img src="./images/image9.jpeg" class="item-image" alt="">
                <div class="details">
                    <label for="Discount" name="Discount">Discount <span>20</span> %</label>
                    <label for="itemName" name="itemName">Flower oil</label>
                    <label for="Price" name="Price">Price $ <span>2123</span> </label>
                    <input type="button" class="cart-btn" onclick="saveItem()" value="Add to Cart">
                </div>
            </div>
            <div class="item">
                <img src="./images/image4.jpeg" class="item-image" alt="">
                <div class="details">
                    <label for="Discount" name="Discount">Discount <span>2</span> %</label>
                    <label for="itemName" name="itemName">Gemini oil</label>
                    <label for="Price" name="Price">Price $ <span>1233</span> </label>
                    <input type="button" class="cart-btn" onclick="saveItem()" value="Add to Cart">
                </div>
            </div>
            <div class="item">
                <img src="./images/image5.jpeg" class="item-image" alt="">
                <div class="details">
                    <label for="Discount" name="Discount">Discount <span>20</span> %</label>
                    <label for="itemName" name="itemName">Grounut oil</label>
                    <label for="Price" name="Price">Price $ <span>4123</span> </label>
                    <input type="button" class="cart-btn" onclick="saveItem()" value="Add to Cart">
                </div>
            </div>
            <div class="item">
                <img src="./images/image6.jpeg" class="item-image" alt="">
                <div class="details">
                    <label for="Discount" name="Discount">Discount <span>20</span> %</label>
                    <label for="itemName" name="itemName">Vegetable oil</label>
                    <label for="Price" name="Price">Price $ <span>1253</span> </label>
                    <input type="button" class="cart-btn" onclick="saveItem()" value="Add to Cart">
                </div>
            </div>

            <div class="item">
                <img src="./images/image7.jpeg" class="item-image" alt="">
                <div class="details">
                    <label for="Discount" name="Discount">Discount <span>20</span> %</label>
                    <label for="itemName" name="itemName">Normal oil</label>
                    <label for="Price" name="Price">Price $ <span>1233</span> </label>
                    <input type="button" class="cart-btn" onclick="saveItem()" value="Add to Cart">
                </div>
            </div>
            <div class="item">
                <img src="./images/image8.jpeg" class="item-image" alt="">
                <div class="details">
                    <label for="Discount" name="Discount">Discount <span>12</span> %</label>
                    <label for="itemName" name="itemName">Chemical free oil</label>
                    <label for="Price" name="Price">Price $ <span>466</span> </label>
                    <input type="button" class="cart-btn" onclick="saveItem()" value="Add to Cart">
                </div>
            </div>


        </div>

    </div>
    <div class="btn-area">
        <button onclick="prev()">
            < </button>
                <button onclick="next()">
                    >
                </button>

    </div>
    <div id="total"></div>
    <!-- <div class="cart-items">
        <div class="list-items">
            <img src="./images/image1.jpeg" class="item-img-size " alt="">
            <div class="Itemdetails">
                <label for="count">count = <span>0</span></label>
                <label for="Price">$ 456</label>
                <label for="Name">Vinegar oil</label>
                <label for="Discount">Discount</label>
                <label for="count">
                    <button class="cart-btn">-</button>
                    <button class="cart-btn">+</button>
                    
                </label>
            </div>
        </div>
    
        
    </div> -->

    <div id="lists"></div>

</div>