    <div class="row">
        <div class="col-12 col-sm-4 d-flex justify-content-center flex-column align-items-center p-4">
            <h2>new product </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aliquam ex esse magni ipsum dolorum
                voluptate harum in cum voluptatibus.</p>
            <h2>new product </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aliquam ex esse magni ipsum dolorum
                voluptate harum in cum voluptatibus.</p>
            <h2>new product </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aliquam ex esse magni ipsum dolorum
                voluptate harum in cum voluptatibus.</p>
        </div>

        <div class="col-12 col-sm-4  d-flex justify-content-center flex-column align-items-center p-4 ">
            <img src="./images/image7.jpeg" alt="" style="width: 200px;height:auto;">

        </div>
        <div class="col-12 col-sm-4  d-flex justify-content-center flex-column align-items-center p-4">
            <h2>new product </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aliquam ex esse magni ipsum dolorum
                voluptate harum in cum voluptatibus.</p>
            <h2>new product </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aliquam ex esse magni ipsum dolorum
                voluptate harum in cum voluptatibus.</p>
            <h2>new product </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aliquam ex esse magni ipsum dolorum
                voluptate harum in cum voluptatibus.</p>
        </div>

    </div>