<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        .wrap{
            width: auto;
            height: 48vh;
            overflow: hidden;
            
           
            
        }
        .trasactionDetails,.btn-area,.main{
            width: auto;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            margin: 0px 10px;
            justify-content: space-evenly;
            align-items: center;
            

        }
        .card{
            display: flex;
            width: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          
            border-radius: 25px;
            padding: 10px;
            margin: 10px;
            background-color: whitesmoke;
            box-shadow: 0px 10px 10px 0px rgb(109, 94, 94);
        }
        img{
            width: 15vw;
            border-radius: 10px;
            height: 200px;
            
            object-fit:cover;
           
           
        }
        img:hover{
            
            
            object-fit:contain;
        }
        #list{
            
            display: none;
            width: auto;
            justify-content: space-evenly;
            align-items: center;          
            flex-wrap: wrap;
            border: 2px solid blue;
            background-color: whitesmoke;
            border-radius: 25px;
            
        }
        button{
            padding: 10px;
            margin: 5px auto;
            font-size: large;
            border-radius: 15px;
            background: linear-gradient(45deg, rgb(88, 227, 125), rgb(104, 218, 51));
            
        }
        button:hover{
    color: rgb(95, 230, 95);
    background: black;
}
        @media only screen and (max-width: 926px) {
.wrap{
width: auto;

}
.card{
 width: 35vw;
}
button{
    transform: scale(0.8);
    border-radius: 10px;
}

        }
        #itemsCount{
            width: 20px;
            height: 20px;
            background-color: red;
            border-radius: 50%;
            display: flex ;
            justify-content: center;
            align-items: center;
            transform: translate(113px,-2px);
            float: left;
            animation: anima 1s infinite;
            /* position: fixed; */
           
        }
        .itemscount{
           display: block;
           margin-left: 10px;
           
        }
        @keyframes anima{
            0%{
                
            }
            100%{
                opacity: 0.8;
            transition: 1s;
            }
        }
    </style>
</head>
<body>
    
    
    {{>navbar}}
    <div class="trasactionDetails">
        <h2 id="total">Total amount = 0</h2>

       
        <button type="submit" id="payment" onclick="payment()">Payment</button>
       
        <div class="itemscount"><button onclick="displaylist()">Cart items </button><span id="itemsCount"></span></div>
        <div id="list"></div>
    </div>
   
    <!-- carasole  -->
    <div class="wrap" id="wrap">
        <div class="main" id="main">
            <div class="card">
                <img src="./images/image1.jpeg" alt="">
                <strong>Title</strong>
                <strong><Strike>$896</Strike> Price $<span>470</span></strong>
                <button onclick="add()">Add to Cart</button>
            </div>
            <div class="card">
                <img src="./images/image4.jpeg" alt="">
                <strong>Title</strong>
                <strong><Strike>$456</Strike> Price $<span>490</span></strong>
                <button onclick="add()">Add to Cart</button>
            </div>
            <div class="card">
                <img src="./images/image3.jpeg" alt="">
                <strong>Title</strong>
                <strong><Strike>$456</Strike> Price $<span>400</span></strong>
                <button onclick="add()">Add to Cart</button>
            </div>
            <div class="card">
                <img src="./images/image5.jpeg" alt="">
                <strong>Title</strong>
                <strong><Strike>$456</Strike> Price $<span>400</span></strong>
                <button onclick="add()">Add to Cart</button>
            </div>
            <div class="card">
                <img src="./images/image12.jpeg" alt="">
                <strong>Title</strong>
                <strong><Strike>$456</Strike> Price $<span>400</span></strong>
                <button onclick="add()">Add to Cart</button>
            </div>
            <div class="card">
                <img src="./images/image14.jpeg" alt="">
                <strong>Title</strong>
                <strong><Strike>$456</Strike> Price $<span>400</span></strong>
                <button onclick="add()">Add to Cart</button>
            </div>
            <div class="card">
                <img src="./images/image13.jpeg" alt="">
                <strong>Title</strong>
                <strong><Strike>$486</Strike> Price $<span>40</span></strong>
                <button onclick="add()">Add to Cart</button>
            </div>
            <div class="card">
                <img src="./images/image16.jpeg" alt="">
                <strong>Title</strong>
                <strong><Strike>$476</Strike> Price $<span>470</span></strong>
                <button onclick="add()">Add to Cart</button>
            </div>
            <div class="card">
                <img src="./images/image6.jpeg" alt="">
                <strong>Title</strong>
                <strong><Strike>$666</Strike> Price $<span>470</span></strong>
                <button onclick="add()">Add to Cart</button>
            </div>
            <div class="card">
                <img src="./images/image8.jpeg" alt="">
                <strong>Title</strong>
                <strong><Strike>$656</Strike> Price $<span>460</span></strong>
                <button onclick="add()">Add to Cart</button>
            </div>
            <div class="card">
                <img src="./images/image13.jpeg" alt="">
                <strong>Title</strong>
                <strong><Strike>$556</Strike> Price $<span>500</span></strong>
                <button onclick="add()">Add to Cart</button>
            </div>
            <div class="card">
                <img src="./images/image15.jpeg" alt="">
                <strong>Title</strong>
                <strong><Strike>$756</Strike> Price $ <span>650</span></strong>
                <button onclick="add()">Add to Cart</button>
            </div>
            <div class="card">
                <img src="./images/image12.jpeg" alt="">
                <strong>Title</strong>
                <strong><Strike>$416</Strike> Price $<span>350</span></strong>
                <button onclick="add()">Add to Cart</button>
            </div>
            <div class="card">
                <img src="./images/image14.jpeg" alt="">
                <strong>Title</strong>
                <strong><Strike>$455</Strike> Price $<span>489</span></strong>
                <button onclick="add()">Add to Cart</button>
            </div>
            <div class="card">
                <img src="./images/image13.jpeg" alt="">
                <strong>Title</strong>
                <strong><Strike>$46</Strike> Price $<span>420</span></strong>
                <button onclick="add()">Add to Cart</button>
            </div>
            <div class="card">
                <img src="./images/image7.jpeg" alt="">
                <strong>Title</strong>
                <strong><Strike>$656</Strike>  Price $<span>600</span></strong>
                <button onclick="add()">Add to Cart</button>
            </div>
          
          
            {{#each new_card}}
    <div class="card">
        
                <img src="./images/image7.jpeg" alt="">
                <strong>{{this.title}}</strong>
                <strong><Strike>$656</Strike>  Price $<span>{{this.price}}</span></strong>
                <button onclick="add()">Add to Cart</button>
            </div>
        {{/each}}

        </div>

    </div>
    <div class="btn-area">
        <button onclick="prev()">< prev</button>
        <button onclick="next()">next ></button>

    </div>

    
    

  
    <!-- javascript -->
    <script>
        let main=document.getElementById("main")
        let card=main.getElementsByClassName("card")
        let wrap=document.getElementById("wrap")
        let sum=document.getElementById("total")
        let items=document.getElementById("itemsCount")
        let total=0
        let count=0

        function displaylist(){
            const list=document.getElementById("list")
            if(list.style.display==="none"){
                list.style.display="flex"
            }
            else{
                list.style.display="none"
            }
        }
        
       function prev()
       {
        main.append(card[0])
        
       }
       function next()
       {
        main.prepend(card[card.length-1])
       }

        
        const list=document.getElementById("list")
        function add()
        {
            count++
            const imgSrc=event.target.parentNode.firstElementChild.src
            const  Price=event.target.parentNode.firstElementChild.nextElementSibling.nextElementSibling.firstElementChild.nextElementSibling
            const child=document.createElement("div")
            total=Number(Price.innerText)+total
            sum.innerHTML=` Total $ ${total}`
            items.innerHTML=` ${count}`
            child.className="card"
            child.innerHTML=`
            <img src="${imgSrc}" alt="">
                <strong>Title</strong>
                <strong><Strike>$656</Strike>  Price $<span>${ Price.innerText}</span></strong>
                <button onclick="remove() ">Remove</button>`
            list.appendChild(child)
            
        }

        function remove()
        {
            count--
            const minus=event.target.parentNode.firstElementChild.nextElementSibling.nextElementSibling.firstElementChild.nextElementSibling.innerText
            items.innerHTML=` ${count}`
            total=total-Number(minus)
            sum.innerHTML=` Total $ ${total}`
            list.removeChild(event.target.parentNode)

        }
        function payment(){
            const paymen=document.getElementById("payment")
            alert("PROCESS to payment")
            paymen.innerHTML=`$ ${total} amount procced`
        }

    </script>
</body>
</html>